body {
  margin: 0;
  font-weight: 500;
  padding: 2rem;
  font-family: "Exo 2", sans-serif;
    color: rgb(0, 0, 0);
  background-color:rgb(195, 255, 232); 
}

pre{
  font-size: 4vh;
}
p{
  font-size: xx-large;
 
}

li{
  font-size: 4vh;
}




@media screen and (max-width: 600px) {
  #intro {
    padding: 10px; 
  }
}

@keyframes spinAndEnter {
  from {
      transform: translateY(-100%) rotate(0deg);
  }
  to {
      transform: translateY(0) rotate(360deg);
  }
}

#koko {
  display: flex;
  animation: spinAndEnter 1.5s ease-out;
  margin-left: 0%;
  width: 40vw;
  margin-right: 6vw;
}


@media screen and (max-width: 768px) {
  body {
    font-size: 1.5rem; 
    padding: 1rem; 
  }
  
  section {
    margin: 1rem 0; 
  }
}


html {
        scroll-behavior: smooth;
     } 

#chaitu{
  display: flex;
}

#profile {

  align-items: center;
  margin-bottom: 4rem;
  text-emphasis: bold;
  font-size: 1vh;
}

#PROfile {
  
  text-emphasis: bold;
  
  font-weight: 500;
  margin-bottom: 4rem;
}

#CLASS {
  color: #10d6e8;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
  font-size: 2rem;
}
nav {
  font-family: "Orbitron", sans-serif;
  background-color: #222;
  border-radius: 5%;
  box-shadow: 0 2px 5px rgba(0, 208, 255, 0.587);
  color: #10d6e8;
  position: fixed;
  
  z-index: 1000;
  top: 0;
  display: flex;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  color: #10d6e8;

  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  margin-right: 0.1rem;
  padding: 1.1rem;
  /* margin-bottom: 2rem; */

  border-radius: 5px;
  font-size: 2vw;

  font-weight: bold;
  position: relative;
}
nav a:hover {
  color: #ff00ff;
  background-color: antiquewhite;
  text-decoration: underline;
}

body.dark-mode {
  background-color: #101010;
  color: seashell;
}
#imga {
  width: 100%; 
  height: auto; 
  max-width: 300px; 
  border-radius: 30%;
  object-fit: cover; 
  margin-top: 1%;
  margin-left: 1rem;

  /* border: 5px solid #00ff00; */
  box-shadow: 0 0 15px rgba(6, 68, 6, 0.5);
  margin-right: 3%;
  transition: transform 0.5s ease-in-out;
}

#imga:hover {
  transform: scale(1.2);
}


#toggle-theme {
  cursor: pointer;
  max-width:20%;
  font-size: 2vh;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-height: 7vh;
  height: 12vw;
  /* font-size: x-small; */
}

@media only screen and (max-width: 600px) {
  #toggle-theme {
    font-size: x-small;
  }
}

nav a,
#toggle-theme {
  transition: color 0.3s ease-in-out;
}

body.dark-mode nav a:hover,
body.dark-mode #toggle-theme:hover {
  color: #ff00ff;
}

section {
  border: 1px solid #10d6e8;
  padding: 1rem;
  
  font-size: 1vh;
  border-radius: 5px;
  margin-bottom: 4rem;
  box-shadow: 0 2px 5px rgba(12, 223, 202, 0.5);
  transition: box-shadow 0.3s ease-in-out;
}

section:hover {
  box-shadow: 0 0 20px rgba(0, 157, 255, 0.8);
  transform: scale(1.025);
  transition: transform 0.4s ease-in-out;
}

body.dark-mode section {
  border-color: #00ff00;
}

section {
  padding-top: 20px;
}

body.dark-mode h2 {
  font-family: "Orbitron", sans-serif;
  color: #00ff00;
}

h2 {
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  font-size: 4vw; 
  color: #0739c0;
}

h1{
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  font-size: 4vw; 
  color: #0739c0;

}
@keyframes slideFromLeft {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0);
  }
}

h1 {
  animation: slideFromLeft 1s ease-out;
}




@media screen and (max-width: 600px) {
  h2 {
    font-size: 6vw; 
  }
}

.hidden-text {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.25s ease-in-out, transform 0s ease-in-out;
}

.text-visible {
  opacity: 1;
  transform: translateY(0);
}


.skill-column {
  width: 48%;
}

.skill-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: fit-content;
}

.skill-container img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  width: fit-content;
}






section {
  border: 1px solid #007acc; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
}


@media screen and (max-width: 768px) {
  body {
    font-size: 1.5rem; 
    padding: 1rem; 
  }
  
  section {
    margin: 1rem 0; 
  }
}


body.dark-mode section {
  border-color: #00ff00;
}

body.dark-mode h2 {
  color: #00ff00;
}

body.dark-mode h1 {
  color: #00ff00;
}


#toggle-theme {
  cursor: pointer;
  position: relative;
  color: #00ff00;
  background-image: linear-gradient(to right, #000000, #0b1c0b);
}
body.dark-mode #toggle-theme {
  background-image: linear-gradient(to right ,yellow,white);
  color: #963484;
}

#toggle-theme:before 
{
  content: "🌙";
  /* height: 6vw; */
}

body.dark-mode #toggle-theme:before {
  content: "☀️";
  /* height: 6vw; */
  display: inline-block;
}

nav a,
#toggle-theme {
  transition: color 0.3s ease-in-out;
}

body.dark-mode nav a:hover,
body.dark-mode #toggle-theme:hover {
  color: #ff00ff;
}


#copyright-bar {                
  background-color: #222;
  color:#f4f9fa;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  /* left: 3vw; */
  align-self: center;
  width:fit-content;
  font-size: 1rem;
}


#copyright-bar a {
  color: #10d6e8;
  text-decoration: none;
  font-weight: bold;
}

#copyright-bar a:hover {
  text-decoration: underline;
}



nav {
 
  animation: slideInLeft 0.5s ease-in-out forwards; 
}

@keyframes slideInLeft {
  0% {
    left: -100%;
  }
  100% {
    left: 5%; 
  }
}


@media (max-width: 768px) {
  nav {
    left: 0; 
    animation: none; 
  }
}


@media (min-width: 769px) {
  nav {
    left: 100%; 
    animation: slideInRight 0.5s ease-in-out forwards; 
  }

  @keyframes slideInRight {
    0% {
      left: 100%; 
    }
    100% {
      left: 0; 
    }
  }
}

#toggle-theme {
  cursor: pointer;
  /* padding: 0.5rem; */
  position: relative;
  color: #00ff00; 
  background-image: linear-gradient(to right, #000000, #0b1c0b);
}


#toggle-theme:before {
  content: "🌙";
  display: inline-block;
  height: 4vw;
}

body.dark-mode #toggle-theme:before {
  content: "☀️";
  display: inline-block;
  height: 4vw;
}


body:not(.dark-mode) #toggle-theme {
  color: chartreuse;
}


body.dark-mode #toggle-theme {
  color: blue;
}

footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}



#intro {
  /* width: 100%; */
  text-align: left;
  text-align: center;
  max-width: 100%;

}


@media screen and (min-width: 600px) {
  #intro {
    max-width: 300px; 
    text-align: left; 
  }

}